* {
    box-sizing: border-box;
}

.slider .slide {
    min-height: 600px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;

}

.slider,
.slick-initialized,
.slick-slider,
.slick-dotted {
    height: auto !important;
}

.slider .slide * {
    color: rosybrown;
}



/* === How Can I Qualify Section === */
.qualification {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('./../img/qualifybg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em;
}

.qualification h1 {
    flex: 1 100vw;
    text-align: center;
}

.qualification-buttons {
    flex: 0 25vw;
    margin-left: 5em;
}

.qualification-buttons ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: warp;
}

.qualification-buttons li {
    background: #0a4679;
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 1em;
    display: inline-block;
    align-self: flex-start;
    padding: .3em;
    border-radius: 20px;
}

.qualification-contents {
    flex: 0 646px;
    background: #fff;
    background-image: url('./../img/border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 2em;
}

#qualification-2,
#qualification-3 {
    display: none;
}





/* === testmonial section === */
.sectionHeader {
    height: 150px;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

.testmonial {
    display: block;
    /* height: 100vh; */
    height: auto;
    overflow: auto;

    /* background-color: rgb(83, 182, 240); */
    background-image: url("../img/testimonialbg.svg");
    background-repeat: no-repeat;

}

#allTestmonial {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

}

.testmonialGroup {
    margin-top: 140px;
    /* border: 2px solid black; */
    display: inline-block;
    position: relative;
    background-color: white;
    background-image: url("../img/border.svg");
    background-repeat: no-repeat;
    background-size: cover;

}

.testmonialImage {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

.testmonialContent {
    /* margin-top: 30px; */
    padding: 20px;
    padding-bottom: 0;
    width: 350px;
    height: 152.5px;
}

.testmonialName:before {
    content: "- ";
}

.testmonialName {
    float: right;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .testmonial {
        background-size: cover;
    }

}


/* === footer section === */
footer {
    /* height: 100vh; */
}
.footer_content {
    display: block;
    position: absolute;
    bottom: 0;
}

.footerHeader {
    height: 150px;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

.footerParagraph {
    padding: 0 200px;
    text-align: center;
}

.partnerLogos {
    display: flex;
    flex-direction: row;
}