* {
    box-sizing: border-box;
}

.slider .slide {
    min-height: 600px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
   
}
.slider, .slick-initialized, .slick-slider, .slick-dotted {
    height: auto !important;
}
.slider .slide * {
    color: rosybrown;
}



/*
How Can I Qualify Section
*/

.qualification, .location {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('./../img/qualifybg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em;
}

.qualification h1, .location h1 {
    flex: 1 100vw;
    text-align: center;
}

.qualification-buttons {
    flex: 0 25vw;
    margin-left: 5em;
}

.qualification-buttons ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: warp;
}

.qualification-buttons li {
    background: #0a4679;
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 1em;
    display: inline-block;
    align-self: flex-start;
    padding: .3em;
    border-radius: 20px;
}

.qualification-contents {
    flex: 0 646px;
    background: #fff;
    background-image: url('./../img/border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 2em;
}

#qualification-2,
#qualification-3 {
    display: none;
}

.location h3 {
    font-size: 1.5em;
    margin: 0;
}

.location p {
    margin: 0;
}

.location-wrapper {
    display: grid;
    grid-template-columns: 15vw 45vw 25vw;
    grid-gap: 1em;
    padding: 2em;
}

.location-lists {
    padding: 1em;
    background-color: #d6e7ee;
    border-radius: 10px;
}

.location-list {
    font-size: 1em;
    margin-bottom: .5em;
}

.location-wrapper {
    background: #fff;
    background-image: url('./../img/border.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
    height: 400px;
}

.location-detail {
    position: relative;
    /* background-color: #d6e7ee; */
}

.location-detail > div {
    position: absolute;
    top: 0;
}

.location-map {
    border: 1px solid;
}

#location-2,
#location-3,
#location-4,
#location-5,
#location-6 {
    display: none;
}